[submodule "externals/qmidi"]
	path = externals/qmidi
	url = https://github.com/evildead/QMidi.git
	branch = master
[submodule "externals/dstd"]
	path = externals/dstd
	url = https://github.com/evildead/DSTD.git
	branch = master
